#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Control Program for virtual multitouch (vmulti.sys) driver"
#define VER_INTERNALNAME_STR        "controlvmulti.exe"
#define VER_ORIGINALFILENAME_STR    "controlvmulti.exe"

#include <common.ver>


